Repository CSIEHaTerX/Dr.UML, pull requests merged in 2025-06, with the labels that each got.

#83 [Nuke] some updates of frontend and backend
  .gitattributes
  app/backend/component/association_test.go
  app/backend/component/attribute/attribute.go
  app/backend/component/gadget.go
  app/backend/component/gadget_test.go
  app/backend/drawdata/diagram.go
  app/backend/drawdata/gadget.go
  app/backend/umldiagram/umldiagram.go
  app/backend/umldiagram/umldiagram_test.go
  app/backend/umlproject/umlproject.go
  app/backend/umlproject/umlproject_test.go
  app/backend/utils/checker_test.go
  app/backend/utils/color.go
  app/frontend/src/App.css
  app/frontend/src/App.tsx
  app/frontend/src/assets/fonts/Inkfree.ttf
  app/frontend/src/assets/mock/ass.ts
  app/frontend/src/assets/mock/gadget.ts
  app/frontend/src/components/Canvas.tsx
  app/frontend/src/components/ChatMessage.tsx
  app/frontend/src/components/ChatRoom.tsx
  app/frontend/src/components/CreateGadgetPopup.tsx
  app/frontend/src/components/Gadget.tsx
  app/frontend/src/components/Toolbar.tsx
  app/frontend/src/components/TopMenu.tsx
  app/frontend/src/style.css
  app/frontend/src/types.ts
  app/frontend/src/utils/Props.ts
  app/frontend/src/utils/createAssociation.ts
  app/frontend/src/utils/createCanvas.ts
  app/frontend/src/utils/createGadget.ts
  app/frontend/src/utils/wailsBridge.ts
  app/main.go
  app/runDev.ps1
  app/runTests.ps1
Labels: frontend, backend

#100 [Frontend] Enhance Association UI & Attribute Handling | Canvas Color Picker | Refactor Panels & Bug Fixes
  app/backend/component/attribute/AssAttribute.go
  app/backend/drawdata/assAttribute.go
  app/backend/umlproject/umlproject_test.go
  app/frontend/src/App.tsx
  app/frontend/src/assets/mock/ass.ts
  app/frontend/src/components/AssociationPropertiesPanel.tsx
  app/frontend/src/components/Canvas.tsx
  app/frontend/src/components/ComponentPropertiesPanel.tsx
  app/frontend/src/components/CreateGadgetPopup.tsx
  app/frontend/src/components/FontStyleButtons.tsx
  app/frontend/src/components/GadgetPropertiesPanel.tsx
  app/frontend/src/components/Toolbar.tsx
  app/frontend/src/hooks/updater.ts
  app/frontend/src/hooks/useAssociationUpdater.ts
  app/frontend/src/hooks/useBackendCanvasData.ts
  app/frontend/src/hooks/useCanvasMouseEvents.ts
  app/frontend/src/hooks/useGadgetUpdater.ts
  app/frontend/src/hooks/usePendingChanges.ts
  app/frontend/src/hooks/useSelection.ts
  app/frontend/src/utils/Props.ts
  app/frontend/src/utils/createAssociation.ts
  app/frontend/src/utils/createGadget.ts
  app/frontend/src/utils/fontUtils.ts
Labels: frontend

#96 Project SL
  app/backend/example_proj.json5
  app/backend/umldiagram/umldiagram.go
  app/backend/umlproject/umlproject.go
  app/backend/umlproject/umlproject_test.go
  app/backend/utils/savedFile.go
Labels: backend

#101 [Nuke Backend] Command Pattern
  app/backend/command/manager.go
  app/backend/command/manager_test.go
  app/backend/component/association.go
  app/backend/component/association_test.go
  app/backend/component/component.go
  app/backend/component/gadget.go
  app/backend/component/gadget_test.go
  app/backend/components/container.go
  app/backend/components/containerMap.go
  app/backend/mocks/component.go
  app/backend/umldiagram/commands.go
  app/backend/umldiagram/umldiagram.go
  app/backend/umldiagram/umldiagram_test.go
  app/backend/umlproject/umlproject.go
Labels: backend

#103 Final
  app/backend/component/association.go
  app/backend/component/gadget.go
  app/backend/component/observer_test.go
  app/backend/umldiagram/umldiagram.go
  app/backend/umldiagram/umldiagram_test.go
  app/backend/umlproject/umlproject.go
  app/backend/umlproject/umlproject_test.go
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/App.tsx
  app/frontend/src/components/AssociationPropertiesPanel.tsx
  app/frontend/src/components/ComponentPropertiesPanel.tsx
  app/frontend/src/components/DiagramPage.tsx
  app/frontend/src/components/GadgetPropertiesPanel.tsx
  app/frontend/src/components/LoadProjectPage.tsx
  app/frontend/src/components/Toolbar.tsx
  app/frontend/src/components/TopMenu.tsx
  app/frontend/src/hooks/useBackendCanvasData.ts
  app/frontend/src/hooks/useDiagramActions.ts
  app/frontend/src/hooks/usePopupState.ts
  app/go.mod
Labels: frontend
